html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: linear-gradient(#2A00B7, #42006C);
}

.App {
  text-align: center;
  border-bottom: #42006C;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

p{
  padding: 0;
  margin: 2px;
}

.subtitle{
  color: green;
}
.center{
  overflow-y: scroll;
  max-height: 400px;
  margin: 60px;
  width: 50%;
  border:1px solid #dddddd;
}

.row{
  padding:10px 60px;
}

.buy{
  border: none;
  border-radius:8px;
  padding:8px;
  background-color:green;
  color:white;
}

.sell{
  border: none;
  border-radius:8px;
  padding:8px;
  background-color:red;
  color:white;
}

.stocks{
  height: 200px;
  width:100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.stocks::-webkit-scrollbar { 
  display: none;  /* For Chrome, Safari, and Opera */
}

.main{
  border-radius: 50px;
  background-color:#F5F7F9;
  width:900px;
  height: 500px;
  margin: auto;
  padding: 30px;
}

.stocklist{
  border: 3px solid #42006C;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  max-height: 450px;
  width: 400px;
}

.wallet{
  border: 3px solid #42006C;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  max-height: 500px;
  width: 200px;
}

.stock{
  border-bottom: 1px solid #eeeeee;
  width:100%;
  height: 40px;
}

.stockname{
  font-size: 15px;
}

.stockprice{
  font-size: 12px;
  float:right;
}
.increasing{
  color: green;
  font-size: 12px;
  float:right;
}

.neutral{
  font-size: 12px;
  float:right;
}
.decreasing{
  color: red;
  font-size: 12px;
  float:right;
}

@media only screen and (max-width: 600px){
  html, body {
    background: antiquewhite;
     }
  .row{
    padding: 0;
  }
  .main{
     width:300px;
     margin: auto;
     margin-top:50px;
  }

  .stocklist{
    width: 120px;
  }
  .wallet{
    width:120px;
  }
}